<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="score-frame"><a rel="nofollow" href="https://www.crictimes.org/cricket-scores">Live Cricket Scores</a></div><script type="text/javascript">var params={b: 'd9d9d9',sb: '434343',c: 'cccccc',a: '434343',bo: '434343',dc: '000000',db: 'ffffff',},query = new URLSearchParams(params).toString(),html = document.getElementById('score-frame');html.innerHTML = '<iframe src="https://cwidget.crictimes.org/?'+query+'" style="width:100%;min-height: 460px;" frameborder="0" scrolling="yes"></iframe>';</script>
</body>
</html>