<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta charset="UTF-8">

<script src="https://cdn.tailwindcss.com"></script>

    <title>Home</title>
</head>
<body>
 <nav
      class="py-6 px-6 flex justify-between items-center border-b border-gray-200"
    >
      <a href="/home" class="text-xl font-semibold">BOOKMAKER</a>

      <div class="space-x-6">
          <a
          href="/sports"
          class="text-lg font-semibold hover:text-gray-500"
          >SPORTS</a
        >
          <a
          href="/race"
          class="text-lg font-semibold hover:text-gray-500"
          >RACE</a
        >
          <a
          href="/casino"
          class="text-lg font-semibold hover:text-gray-500"
          >CASINO</a
        >
        <a
          href="/about"
          class="text-lg font-semibold hover:text-gray-500"
          >ABOUT</a
        >

<a
          href="/login"
          class="text-lg font-semibold hover:text-gray-500"
          >LOGOUT</a
        >



      </div>
    </nav>
<!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">BOOKMAKER SYSTEM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sports">SportsBook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/race">RaceBook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/casino">Casino</a>
        </li>





      </ul>
    </div>
  </div>
</nav>

-->



<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"  >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/image/sportsbook.jpg" width="200" height="600" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/image/race1.jpg" width="200" height="600" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/image/casino.jpg" width="200" height="600" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/image/poker.jpg" width="200" height="600" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="px-6 py-6">
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">PICK YOUR INTEREST</h2>

        <div class="grid grid-cols-3 gap-3">

                <div>
                    <a href="/sports">
                        <div>
                            <img src="../static/image/sports2.png"  class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">SPORTS</h2>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="/race">
                        <div>
                            <img src="../static/image/race1.jpg" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">RACING</h2>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="/casino">
                        <div>
                            <img src="../static/image/casino.jpg" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">CASINO</h2>
                        </div>
                    </a>
                </div>

        </div>
    </div>

         <!nothing>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-3 gap-3">

                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">SportsBook</h2>
                            <p class="text-gray-500">4 items</p>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">RaceBook</h2>
                            <p class="text-gray-500">3 items</p>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">Casino</h2>
                            <p class="text-gray-500">1 items</p>
                        </div>
                    </a>
                </div>



        </div>
    </div>
</div>



</body>
</html>