
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>

    <title>BMS</title>
  </head>

  <body>
    <nav
      class="py-6 px-6 flex justify-between items-center border-b border-gray-200"
    >
      <a href="/" class="text-xl font-semibold">BOOKMAKER</a>

      <div class="space-x-6">
        <a
          href="/about"
          class="text-lg font-semibold hover:text-gray-500"
          >About</a
        >
        

        
        <a
          href="/signup/"
          class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700"
          >Register</a
        >
        <a
          href="/login/"
          class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700"
          >Log In</a
        >
        
      </div>
    </nav>

<br>
    <br>
    <br>
    <br>
    <br>

    <div>
        <CENTER><h1 class="text-xl font-semibold">WELCOME TO BOOKMAKER SYSTEM</h1></CENTER>
    </div>

<br>
    <br>
    <br>
    <br>
    <br>

  <! nothing>
     <div class="px-6 py-6">
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">PICK YOUR INTEREST</h2>

        <div class="grid grid-cols-3 gap-3">

                <div>
                    <a href="/items/50/">
                        <div>
                            <img src="../static/image/sports2.png"  class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">SPORTS</h2>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="/items/51/">
                        <div>
                            <img src="../static/image/race1.jpg" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">RACING</h2>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="/items/52/">
                        <div>
                            <img src="../static/image/casino.jpg" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">CASINO</h2>
                        </div>
                    </a>
                </div>

        </div>
    </div>

         <!nothing>
  
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-3 gap-3">
            
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">SportsBook</h2>
                            <p class="text-gray-500">4 items</p>
                        </div>
                    </a>
                </div>
            
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">RaceBook</h2>
                            <p class="text-gray-500">3 items</p>
                        </div>
                    </a>
                </div>
            
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">Casino</h2>
                            <p class="text-gray-500">1 items</p>
                        </div>
                    </a>
                </div>
            
                
            
        </div>
    </div>
</div>


  </body>
</html>
